/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v19-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
  }
/* CUSTOM PROPS */
:root {
    --white-bg: #fff; 
    --white-text-color: #fff;
    --second-text-color: #C0C0C0;
    --black-text-color: #000;
    --bg-color: #000;
}

/* GLOBAL STYLES */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* *:focus {
    outline: var(--brand-green-color) 1px dashed;
    outline-offset: 3px;
} */

html {
    height: 100%;
    scroll-behavior: smooth;
    font-size: 10px;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    color: var(--white-text-color);
}
img {
    max-width: 100%;
    height: auto;
}
/* CONTAINER SYTLES */
.container {
    width: 100%;
    max-width: 1440px;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN BTN STYLES */
.main-btn {
    width: 14.3rem;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 1.4rem;
    padding: 0.5rem 1rem 0.5rem 0.4rem;
    text-decoration: none;
}
.main-btn-img {
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 0.6rem;
}
.main-btn-text {
    font-size: 1.5rem;
    letter-spacing: 0.4px;
    color: #000;
}

/* SITE HEADER STYLES */
.site-header {
    background-color: var(--bg-color);
    padding: 3rem 0;
}
.inner-container {
    width: 100%;
    max-width: 1200px;
    padding-left: 2rem;
    padding-right: 2rem;

}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-header-logo {
    display: flex;
  
}
.site-header-logo-img {
    width: 12.8rem;
    height: 3.1rem;
    object-fit: contain;
   
}
.site-header-nav{
    display: flex;
}
.site-header-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}
.site-header-nav-item {
    margin-right: 32px;
}
.site-header-nav-item-link {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--white-text-color);
}
.header-btn {
    font-size: 1.6rem;
    letter-spacing: 0.4px;
    padding: 1.1rem 2rem;
    text-decoration: none;
    border-radius: 1.4rem;
    color: var(--black-text-color);
    background-color: var(--white-bg);
}

/* HERO SECTION STYLES */
.hero-section {
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-continer {
    text-align: center;
    padding-top: 46.1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.hero-wrapper {
    width: 58rem;
}
.hero-title {
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin-bottom: 0.1rem;
    color: #C0C0C0;
}
.hero-name {
    font-size: 5.4rem;
    line-height: 5.94rem;
    color: #fff;
    margin-bottom: 1.8rem;
}
.hero-text {
    color: #C0C0C0;
    margin-bottom: 1.4rem;
}
.hero-bottom {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-bottom: 4.2rem;
    margin-right: -1.6rem;
}
.hero-bottom-item {
    display: flex;
    align-items: center;
    margin-right: 1.6rem;
}
.hero-bottom-item-img {
    margin-right: 0.6rem;
}
.hero-bottom-item-text {
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #fff;
}

/* PHOTOGRAPHY SECTION STYLES */
.photography-container {
    padding-top: 11.2rem;
    padding-bottom: 10rem;
}
.photography-list {
    width: 57.6rem;
}
.photography-inner {
    text-align: center;
    font-size: 4rem;
    line-height: 4.2rem;
    color: var(--white-text-color);
    margin-bottom: 1.5rem;
}
.photography-text {
    text-align: center;
    font-size: 2.3rem;
    line-height: 3rem;
    margin-bottom: 4.2rem;
    color: var(--second-text-color);
}

.photography-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product{
    background-image: url(../img/ProductPhotography.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 42.1rem 4.5rem 3rem 3rem;
    margin-bottom: 1.6rem;
    margin-right: 1.6rem;
}
.architecture{
    background-image: url(../img/ArchitecturePhotography.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 42.1rem 3.2rem 3rem 3rem;   
    margin-bottom: 1.6rem;
}
.drone{
    background-image: url(../img/Drone-Photography.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40.1rem 3rem 3rem 3rem; 
    margin-right: 1.6rem;  
}
.wildlife{
    background-image: url(../img/WildlifePhotography.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40.1rem 6.6rem 3rem 3rem;
  
}
.photography-list-inner {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #fff;
    margin-bottom: 3rem;
}
.photography-list-text {
    color: #C0C0C0;
    margin-bottom: 1.7rem;
}


/* MOUNT SECTION */
.mount-section {
    background-image: url(../img/mount-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.mount-continer {
    text-align: center;
    padding-top: 26rem;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.mount-wrapper {
    text-align: left;
    width: 29.8rem;
}
.mount-title {
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    color: #fff;
}
.mount-text {
    color: #C0C0C0;
    margin-bottom: 20.4rem;
}
.mount-bottom {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-bottom: 4rem;
    margin-right: -1.6rem;
}
.mount-bottom-item {
    display: flex;
    align-items: center;
    margin-right: 1.6rem;
}
.mount-bottom-item-img {
    margin-right: 0.6rem;
}
.mount-bottom-item-text {
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #fff;
}

/* TOOLS SECTION */
/* .tools-section {
   
} */
.tools-container {
    display: flex;
    justify-content: space-between;
}
.tools-wrapper {
    padding: 17.3rem 0rem 15.3rem 10rem;
    text-align: left;
}
.tools-name {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--second-text-color);
    margin-bottom: 0.6rem;
}
.tools-inner {
    font-size: 2.8rem;
    line-height: 3.2rem;
    color: var(--white-text-color);
    margin-bottom: 1.4rem;
}
.tools-text {
    max-width: 51.4rem;
    margin-bottom: 2rem;
}
.tools-btn {
    width: 15.2rem;
}
.tools-bottom {
    width: 72rem;
    background-image: url(../img/camera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.tools-bottom-list{ 
    position: absolute;
    display: flex; 
    align-items: center;
    right: 0;
    bottom: 4rem;
    
}
.tools-bottom-item {
    display: flex;
    align-items: center;
    margin-right: 1.6rem;
}
.tools-bottom-item-img {
    margin-right: 0.6rem;
    
}
.tools-bottom-item-text {
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #fff;
}


/* LEAFS SECTION STYLES */
.leafs-section {
    background-image: url(../img/monstera-leafs-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.leafs-container {
    text-align: center;
    padding-top: 26rem;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.leafs-wrapper {
    text-align: left;
    width: 27.3rem;
}


/* CLIENTS SECTION STYLES */
.clients-section {
    background-color: var(--bg-color);
}
.clients-container {
    padding-top: 11.3rem;
    padding-bottom: 14rem;
}
.clients-inner {
    font-size: 4rem;
    line-height: 4.2rem;
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--white-text-color);
}
.clients-text {
    font-size: 2.4rem;
    line-height: 3rem;
    text-align: center;
    color: var(--second-text-color);
    margin-bottom: 8.2rem;
}
.clients-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: -10.9rem;
}
.clients-list-item {
    margin-left: 10.9rem;
    cursor: pointer;
}

/* HIMALAYS SECTION STYLES */
.himalays-section {
    background-image: url(../img/clients-bottom-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.himalays-container {
    text-align: center;
    padding-top: 25rem;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.himalays-wrapper {
    text-align: left;
}
.himalays-title{
    width: 34.4rem;
}
.himalays-text{
    width: 24.1rem;
}

/* FEATURES SECTION STYLES */
.features {
    background-color: var(--bg-color);
}
.features-container {
    padding-top: 11.3rem;
    padding-bottom: 10.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features-title {
    max-width: 57.1rem;
    font-size: 4rem;
    line-height: 4.2rem;
    color: var(--white-text-color);
    text-align: center;
    margin-bottom: 1.5rem;
}
.features-text {
    font-size: 2.4rem;
    line-height: 3rem;
    text-align: center;
    color: var(--second-text-color);
    margin-bottom: 2.2rem;
}
.features-btn {
    width: 15.4rem;
}

/* FOOTER SECTION STYLES */
.footer {
    background-color: var(--bg-color);
}
.footer-container {
    padding-top: 10rem;
    padding-bottom: 10.4rem;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
/* .footer-top-wrapper {
} */
.footer-logo {
    width: 12.8rem;
    height: 3.1rem;
    margin-bottom: 2rem;
}
.footer-inner{
    font-size: 1.3rem;
    color: var(--second-text-color);
}
.footer-link-inner {
    font-size: 1.3rem;
    text-align: left;
    color: var(--second-text-color);
}
.footer-list {
    display: flex;
}
.footer-link {
    list-style: none;
}
.footer-link li {
    margin-top: 1rem;
}
.footer-link-two{
    margin-left: 5.5rem;
    margin-right: 10.2rem;
}
.footer-link-inner {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: var(--second-text-color);
}
.footer-links-text {
    text-decoration: none;
    color: var(--white-text-color);
}

/* FOOTER FORM STYLES */
.footer-form {
    margin-top: 3.6rem;
    margin-bottom: 5.6rem;
    border-top: 2px solid var(--white-text-color);
    border-bottom: 2px solid var(--white-text-color);
    width: 100%;
    padding: 4rem 0;
    display: flex;
    justify-content: space-between;
}
/* .footer-form-wrapper {
} */
.footer-wrapper-title {
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: var(--white-text-color);
    margin-bottom: 2rem;
}
.footer-wrapper-text {
    font-size: 13px;
    color: var(--second-text-color)
}
.form-footer {
    padding: 0.7rem;
    width: 45.8rem;
    height: 5.2rem;
    border-radius: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-bg);
}
.form-footer-input {
    width: 37.6rem;
    height: 4.5rem;
    border: none;
    outline: none;
}
.form-footer-btn{
    border: none;
    cursor: pointer;
    width: 6.3rem;
    height: 3rem;
    border-radius: 1.1rem;
    background-color: var(--bg-color);
}

/* FOOTER BOTTOM STYLES */
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-bottom-title {
    font-size: 1.4rem;
    color: var(--second-text-color);
}
.footer-bootom-social {
    list-style: none;
    display: flex;
    align-items: center;

}
.footer-bootom-social-item{
    margin-right: 2.2rem;
}





/* @media (max-width: 1399.98px) {} */
@media (max-width: 1199.98px) {
    html{
        font-size: 8px;
    }
    .tools-wrapper{
        padding-right: 5rem;
        padding-left: 0;
    }
    .tools-bottom {
        width: 60rem;
    }
    .clients-list-item{
        margin-bottom: 2rem;
    }
}  
@media (max-width: 991.98px) {
    html{
        font-size: 6px;
    }
    /* .site-header-nav-list{
        display: none;
    } */
}
@media (max-width: 767.98px) {
    .photography-list{
        width: 59.6rem;
    }
}
@media (max-width: 575.98px) {
    html{
        font-size: 7.5px;
    }
        .site-header-nav-list{
        display: none;
    }
    .photography-item {
        flex-wrap: wrap;
    }
    .photography-list{
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .tools-bottom {
        background-image: none;
    }
    .footer-list{
        margin-left: 4rem;
    } 
    .footer-link-two{
        margin-right: 2rem;
    }
    .form-footer{
        margin-top: 2rem;
    }
    .footer-form{
        flex-direction: column;
    }
}